.wrapper {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 50px;
    background-color: aliceblue;
    background-color: rgb(41, 26, 26);

    z-index: 100;
    width: 319px;
    .SEARCH_input {
        position: relative;

        .SEARCH_input2 {
            outline: none;
            background: transparent;
            backdrop-filter: blur(15px);
            border: none;
            width: 150px;
            height: 20px;
            margin-top: 15px;
            border-bottom: 2px #c4bebe solid;
            color: #c4bebe;
            
            &:hover~label {
                animation: outLabel .5s ease both;
            }

            @keyframes outLabel {
                to {
                    transform: translateY(-18px);
                    color: rgb(225, 162, 4);
                }
            }
        }
    }
}