.wrapper {
    width: 100%;
    .header {
        display: flex;
        justify-content: space-around;
        width: 309px;
        border-right:1px solid #e6dede ;
        text-align: center;
        align-items: center;
        background-color: #261933;
        z-index: 1000;
        position: absolute;
        margin-top: 34px;
        height: 68px;

        .header_one {
            z-index: 100;
        }
    }

    .content {

        margin-top: 16px;
    }
    
}